@import '_variables';
@import '_wrapper';

.pagination {
  @extend %wrapper-little;
  background-color: var(--c-bg);
  position: relative;
  text-align: center;
  box-shadow: none;
  padding-top: 0;
  transition: background-color ease 0.3s;

  span {
    @extend %hover-shadow;
    @extend %card-box;

    line-height: 1rem;
    opacity: 0.9;
    cursor: pointer;
    background-color: var(--c-bg-light);


    &:hover {
      color: var(--c-text-accent);
    }

    &.ellipsis {
      background-color: rgba(255, 255, 255, 0);
      opacity: 0.5;
      box-shadow: none;
      &::before {
        content: '...';
        font-size: 1.2rem;
      }
    }


  }

  > span {
    position: absolute;
    top: 0;
    padding: 1rem 1.2rem;
    font-size: 0.95rem;
    background-color: var(--c-bg-light);

    &.disabled {
      color: rgba(125, 125, 125, 0.5)
    }

    &.prev {
      left: 0;
      border-top-right-radius: 32px;
      border-bottom-right-radius: 32px;
    }

    &.next {
      right: 0;
      border-top-left-radius: 32px;
      border-bottom-left-radius: 32px;
    }

  }

  p {
    display: inline;
    line-height: 0.95rem;
  }

  .pagination-list {
    span {
      &.active{
        background-color: var(--c-text-accent);
        color: var(--c-bg-light);
      }
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      line-height: 2.5rem;
      margin: 0.3rem;
    }
  }


}
